span {
    font-size: 40px;
    color: "red";
}

th, td {
    padding: 30px 50px;
    border: 1px solid black;
    user-select: none;
}
.resize{
    width: 10px;
    height: 100%;
    background-color: red;
    position: absolute;
    z-index: 993;
    right: -5px;
    top: 0;
}